/.idea
/.vscode
/backup
/node_modules
/wip
/wip-php
/preview
/package
/pack
/server
/server-php
/documentation/dist/*
package-lock.json
*.zip
*.DS_Store
*.code-workspace
*.DS_Store
.vscode/settings.json