.domain{
    &-item{
        .text{
            font-size: 12px;
            display: block;
            margin-top: 2px;
        }
    }
    &-search-form{
        .input-group{
            background-color: $primary;
            padding: 12px;
        }
        .form-control{
            border-radius: 0;
            border: 0;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            flex-grow: 1;
        }
        .form-select{
            border-radius: 0;
            width: 100px;
            background-color: $base-color;
            border: 0;
            flex: inherit;
            color: $white;
        }
    }
}