.icon{
    &-element{
        &-wrap{
            border: 1px solid $base-color;
            padding: 4px;
            border-radius: 50%;
            background-color: $white;
            width: 48px;
            height: 48px;
        }
        background-color: $primary;
        width: 38px;
        height: 38px;
        font-size: 16px;
        color: $white;
        display: grid;
        place-items: center;
        &:hover{
            color: $white;
        }
        &.circle{
            @include border-radius(50%);
        }
    }
}

.icon + span,
span + .icon{
    margin-left: 6px;
}