.icon{
    &-wbg{
        background-color: $white;
        width: 38px;
        height: 38px;
        font-size: 16px;
        color: $base-color;
        display: grid;
        place-items: center;
        &[class*="bg-"]{
            color: $white;
            &:hover{
                color: $white;
            }
        }
        &.circle{
            @include border-radius(50%);
        }
        &.sm{
            width: 32px;
            height: 32px;
            font-size: 13px;
        }
    }
    &-text{
        display: flex;
        align-items: center;
        &.sm{
            font-size: 13px;
        }
    }
}

.icon + span,
span + .icon{
    margin-left: 6px;
}