.is{
    &-theme{
        .header-top-menu li a,
        .list-link a {
            color: $white;
            opacity: 0.8;
            font-weight: 300;
            &:hover{
                opacity: 1;
            }
        }
        .logo{
            &-light{
                opacity: 1;
            }
            &-dark{
                opacity: 0;
            }
        }
        .header-top-social span,
        .social-links a,
        .page-title,
        h1,h2,h3,h4,h5,h6,
        p{
            color: $white;
        }
        .header-top-social span,
        .social-links a{
            opacity: 0.7;
        }
        .social-links a:hover{
            color: $primary;
            opacity: 1;
        }
    }
}
