.page{
    &-title{
        font-weight: 700;
        margin-bottom: 20px;
        &.xl{
            font-size: 46px;
            line-height: 1.4;
        }
    }
    &-desc{
        line-height: 1.8;
    }
}
