.user{
    &-card{
        display: flex;
        align-items: center;
    }
    &-avatar{
        border-radius: 50%;
        height: 48px;
        width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        position: relative;
        border: 1px solid $gray-200;
        &.sm{
            width: 32px;
            height: 32px;
        }
        img{
            border-radius: 50%;
        }
        + .user-info{
            margin-left: 0.75rem;
        }
    }
    &-info{
        &-title{
            display: block;
            font-weight: 500;
            color: $base-color;
            line-height: 1.3;
        }
    }
}